---
import FooterLogo from "@/partials/FooterLogo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
const { footer } = menu;
const { copyright, location, email, phone, footer_description } = config.params;
---

<footer class="footer bg-primary text-white">
  <div class="container">
    <div class="gx-5 row pb-10 pt-8 items-start">
      <div class="col-12 md:col-6 lg:col-3 mt-0 flex flex-col">
        <FooterLogo class="mb-4 !mt-0 !pt-0" />
        <p class="mt-6">
          {footer_description}
        </p>
      </div>
      <div class="col-12 mt-6 md:col-6 lg:col-3">
        <h6>Socials</h6>

        <Social source={social} className="social-icons mt-4 lg:mt-6" />
      </div>
      <div class="col-12 mt-6 md:col-6 lg:col-3">
        <h6>Quick Links</h6>
        <ul>
          {
            footer.map((item, i) => (
              <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
                <a class="hover:text-white hover:underline " href={item.url}>
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="col-12 mt-6 md:col-6 lg:col-3">
        <h6>Location & Contact</h6>
          <ul>
          <li class="mb-2">
            <a
              class="hover:text-white hover:underline"
              href="https://maps.app.goo.gl/2CLjcwGoVLFqscdNA"
              target="_blank"
              rel="noopener noreferrer"
              >
              {location}
              </a>
          </li>
          <li class="mb-2">
            <a class="mb-2 hover:text-primary" href={`mailto:${email}`}
              >{email}</a
            >
          </li>
          <li>
            <a class="hover:text-primary hover:underline" href={`tel:${phone}`}
              >{phone}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container max-w-[1440px]">
    <div
      class="footer-copyright mx-auto border-t border-white/20 pb-10 pt-7 text-center"
    >
      <p class="content text-white [&_strong]:text-white [&_a]:text-white" set:html={markdownify(copyright)}></p>
    </div>
  </div>
</footer>
