---
import PageHeader from "@/components/PageHeader.astro";
import CounterComponent from "@/components/about/CounterComponent.astro";
import Gallery from "@/components/about/Gallery.astro";
import Works from "@/components/about/Works.astro";
import Base from "@/layouts/Base.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const about = (await getEntry("about", "-index")) as CollectionEntry<"about">;
const { counter, gallery, features, members } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  <section class="page-hero py-16 bg-primary text-white">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center" data-fade>
        <PageHeader page_data={page_data} />
      </div>
      <CounterComponent counter={counter} />
      <Gallery gallery={gallery} />
      <Works features={features} />
    </div>
  </section>
</Base>
